{% extends 'base.html' %}



{% block page-content %}
<!-- Nav tabs -->
{% csrf_token %}
<div class="row">
  <div class="left_sidebar col-lg-3">
    <!--tab -->
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-8 col-xs-9 bhoechie-tab-container" id="left-menu">
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bhoechie-tab-menu">
            <div class="list-group">
              <!-- 最近 -->
              <a href="#" data-tab="recent_contacts" class="list-group-item text-center">
                <h4><i class="glyphicon glyphicon-comment blink-ico"></i></h4>
                <br/>最近</a>
              <!-- 联系人 -->
              <a href="#" data-tab="contacts" class="list-group-item active text-center">
                <h4>
                  <i class="glyphicon glyphicon-user"></i>
                  <span contact_type="single_contact">
                    <i class="fa fa-commenting fa-2 myClass hide" style="color: darkorange"></i>
                  </span>
                </h4>
                <br/>联系人</a>
              <!-- 群组 -->
              <a href="#" data-tab="contacts_groups" class="list-group-item text-center">
                <h4>
                  <i class="glyphicon glyphicon-cloud"></i>
                  <span contact_type="group">
                    <i class="fa fa-commenting fa-2 myClass hide" style="color: darkorange"></i>
                  </span>
                </h4>
                <br/>群组</a>
            </div>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bhoechie-tab">
            <!-- 最近 -->
            <div id="recent_contacts" class="bhoechie-tab-content">
                <div id="recent_contact_list" class="list-group">

                </div>
            </div>
            <!-- 联系人 -->
            <div id="contacts" class="bhoechie-tab-content active">
              <input type="text" class="form-control" placeholder="Search for friend">
              <div id="contact-list" class="list-group">
                  {% for contact in request.user.userprofile.friends.select_related %}
                  <a status="false" contact_id="{{ contact.id }}" contact_name="{{ contact.name }}" contact_type="single" class="list-group-item contact-item">
                      <span><i class="glyphicon glyphicon-fire"></i>{{ contact.name }}</span>
                      <span class="pull-right badge hide">0</span>
                  </a>
                  {% endfor %}
              </div>
            </div>
            <!-- 群组 -->
            <div id="contacts_groups" class="bhoechie-tab-content ">
              <input type="text" class="form-control" placeholder="Search for group">
              <ul id="group-list" class="list-unstyled">
                  {% for group in request.user.userprofile.group_members.select_related %}
                  <li status="false"  contact_type="group" contact_id="{{ group.id }}" contact_name="{{ group.name }}" class="contact-item">
                      <i class="toggle-members glyphicon glyphicon-plus"></i>
                      <span>{{ group.name }}({{ group.members.select_related|length }})</span>
                      <span class="pull-right badge hide">0</span>
                       <ul class="list-group hide group-members">
                       {% for member in group.members.select_related %}
                           {% if request.user.userprofile.id != member.id %}
                           <li class="list-group-item" contact_type="single" contact_id="{{ member.id }}" contact_name="{{ member.name }}">
                               <i class="glyphicon glyphicon-user"></i>{{ member.name }}
                               {% if member in request.user.userprofile.friends.select_related %}
                               <i class="glyphicon glyphicon-heart pull-right friend"></i>
                               {% else %}
                               <i class="glyphicon glyphicon-heart pull-right" title="加好友"></i>
                               {% endif %}
                           </li>
                           {% endif %}
                       {% endfor %}
                       </ul>
                  </li>
                  {% endfor %}
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!--end tab--></div>
  <!--end left_sidebar-->
  <div class="content col-lg-9">
    <div class="col-lg-10 col-md-10 bhoechie-tab-container dialog">
      <div id="dialog-header-msg" class="dialog-header">
        <i class="glyphicon glyphicon-user"></i>
        <span contact_id='100' contact_type="group">gg</span></div>
      <div id="dialog-content-box" class="dialog-content">

      </div>
      <div class="dialog-send-box">
        <div class="msg-send-bar">
          <span><i class="glyphicon glyphicon-font"></i></span>
          <span><i class="glyphicon glyphicon-picture"></i></span>
          <span><i class="glyphicon glyphicon-gift"></i></span>
          <span><i class="glyphicon glyphicon-shopping-cart"></i></span>
        </div>
        <textarea id="msg_input" name="msg" class="" placeholder="输入消息..."></textarea>
        <div id="file-upload-container" class="hide">
          <input id="file_upload" name="filename" type="file" multiple class="file-loading"></div>
      </div>
    </div>
    <!--end row--></div>
</div>
<!--end content--></div>

{% endblock %}
{% block script %}
<script>
all_dialog_sessions = {
    'single':{},
    'group':{},
    'friend_request':{},
}
$(function(){
    /*refresh_msgs = setInterval(function(){
        get_new_msg();
    },3000);*/
    get_new_msg();

    /*处理左侧菜单标签切换*/
    $('.list-group').delegate('a','click',function(){
        var id = $(this).attr('data-tab');
        $(this).addClass('active').siblings().removeClass('active');
        $('#'+id).addClass('active').siblings().removeClass('active');
    });
    /*群成员的显示隐藏*/
    $('#group-list').delegate('.toggle-members','click',function(){
        if($(this).hasClass('glyphicon-plus')){
            $(this).removeClass('glyphicon-plus').addClass('glyphicon-minus')
            $(this).parent().find('.list-group').removeClass('hide')
        }else{
            $(this).removeClass('glyphicon-minus').addClass('glyphicon-plus')
            $(this).parent().find('.list-group').addClass('hide')
        }
    })
    /*聊天窗的切换*/
    $('#left-menu ').delegate('.contact-item','dblclick',function(){
        //$(this).addClass('active').siblings().removeClass('active');
        /*重置消息数量提示*/
        console.log($(this).find('.badge').html())
        $(this).find('.badge').addClass('hide').html('0')

        /*切换聊天对象*/
        switch_chatbox(this);
    });
    /*加好友*/
    $('#group-list').delegate('.glyphicon-heart','click',function(){
        if(!$(this).hasClass('friend')){
            send_friend_request(this)
        }
    });

    /*捕获按键,发送消息*/
    $(document).delegate('textarea','keydown',function(e){
        if(e.which == 13){
            var msg_text = $('textarea').val();
            var current_contact_id = $('#dialog-header-msg span').attr('contact_id');
            var current_contact_type = $('#dialog-header-msg span').attr('contact_type');
            var current_contact_name = $('#dialog-header-msg span').attr('contact_name');

            if($.trim(msg_text).length > 0){
                console.log(msg_text)
                if(current_contact_type == 'single'){
                    send_msg(msg_text);/*ajax消息到后台*/
                }else if(current_contact_type == 'group'){
                    send_msg(msg_text,current_contact_id,current_contact_name);/*ajax消息到后台*/
                }

                add_msg_into_box(msg_text);/*添加消息到聊天窗口*/
                $('textarea').val('');/*输入位置清空*/
            }
        }
    });

    /*接受好友请求*/
    $('#dialog-content-box').delegate('.accept-friend','click',function(){
        console.log('accept friend');
        accept_friend_request();
    });
});

/*定时从后台获取消息*/
function get_new_msg(){
    //var current_contact_name = $('#dialog-header-msg span').text();
    $.get('{% url "get_new_msg" %}',{'uid':'{{ request.user.userprofile.id }}'},function(callback){
        callback = JSON.parse(callback);

        /*处理对话消息*/
        new_msg_handler(callback.msg_list)
        /*更新好友在线状态*/
        friends_online_refresh(callback.contact_dic.friends)
        /*更新所属群信息*/
        groups_refresh(callback.contact_dic.groups)

        get_new_msg();
    });
}

/*更新好友在线状态*/
function friends_online_refresh(online_firend_list){
    console.log(online_firend_list)
    $('#contact-list .contact-item .glyphicon-fire').removeClass('online');
    $.each(online_firend_list,function(index,friend){
        $('#contact-list .contact-item[contact_id="'+friend.id+'"] .glyphicon-fire').addClass('online');
    })
}

/*更新所属群信息*/
function groups_refresh(group_list){
    console.log(group_list)
}

/*往最近会话里面添加条目*/
function add_recent_item(to_id,to_name,contact_type,group_id,group_name){
    var name = to_name;
    var id = to_id;
    var icon_class_name = 'glyphicon-user';
    if(contact_type == 'group'){
        icon_class_name = 'glyphicon-comment';
        name = group_name;
        id = group_id;
    }

    /*判断会话是否已经存在,不存在就添加*/
    if($('#recent_contact_list .contact-'+contact_type+'[contact_id="'+id+'"]').length == 0){
        if(contact_type == 'friend_request'){/*对添加好友请求特殊处理*/
            name = '来自'+name+'的好友请求';
            icon_class_name = 'glyphicon-hand-right';
        }
        var item_div = '<a status="false" '+
                        'contact_id="'+id+'" contact_name="'+name+'" contact_type="'+contact_type+'" '+
                        'class="list-group-item contact-item contact-'+contact_type+'">'+
                        '<span><i class="glyphicon '+icon_class_name+'"></i>'+name+'</span>'+
                        '<span class="pull-right badge hide">0</span></a>';
        $('#recent_contact_list').append(item_div);
    }
}

/*处理对话消息*/
function new_msg_handler(msg_list){
    var current_contact_id = $('#dialog-header-msg span').attr('contact_id');
    var current_contact_type = $('#dialog-header-msg span').attr('contact_type');
    console.log(msg_list)
    console.log(current_contact_id)
    console.log(current_contact_type)

    /*新消息提示*/
    if(msg_list.length>0){
        blink('.blink-ico',5,500);
    }

    $.each(msg_list,function(index,msg){
        /*往最近会话里面添加条目*/
        add_recent_item(msg.from_id,msg.from_name,msg.contact_type,msg.group_id,msg.group_name)

        /*还要做群组还是私聊的判断*/
        if((msg.from_id == current_contact_id && msg.contact_type == 'single') || (msg.group_id == current_contact_id && msg.contact_type == 'group') ){/*如果消息来自当前聊天窗中的对话用户*/
            var msg_div = '<div class="timeline-stat"><div class="timeline-icon">'+
                '<i class="glyphicon glyphicon-user"></i></div></div><div>' +
                '<p><span class="msg-text-head">'+msg.from_name+'</span>'+
                '<span class="msg-text-head">'+msg.date+'</span></p>'+
                '<p class="msg-text">'+msg.msg+'</p></div>'

            $('#dialog-content-box').append(msg_div);
            $('#dialog-content-box').animate({
                scrollTop: $('#dialog-content-box')[0].scrollHeight},500);
        }else{/*如果消息不是当前聊天窗中的对话用户*/
            /*消息提示数增加*/
            console.log(msg)
            if(msg.contact_type == 'single') {/*要区分群组和单个用户*/
                var msg_count_ele = $('#recent_contact_list .contact-single[contact_id="' + msg.from_id + '"] .badge');
            }else if(msg.contact_type == 'group'){
                var msg_count_ele = $('#recent_contact_list .contact-group[contact_id="' + msg.group_id + '"] .badge');
            }else if(msg.contact_type == 'friend_request'){
                var msg_count_ele = $('#recent_contact_list .contact-friend_request[contact_id="' + msg.from_id + '"] .badge');
            }
            console.log(msg_count_ele)
            msg_count_ele.text(parseInt(msg_count_ele.text()) + 1);
            msg_count_ele.removeClass('hide');

            /*暂存消息*/
            var msg_div = '';
            if(msg.contact_type == 'friend_request'){
                msg_content_div ='<div class="modal-content msg-text"><div class="modal-header"><h4 class="modal-title">好友申请</h4></div>'+
                                    '<div class="modal-body"><p>One fine body…</p> </div>'+
                                    '<div class="modal-footer"> <button type="button" class="btn btn-primary accept-friend">接受</button> </div> </div>';
                msg_div = '<div class="timeline-stat"><div class="timeline-icon">'+
                    '<i class="glyphicon glyphicon-user"></i></div></div><div>' +
                    '<p><span class="msg-text-head">'+msg.from_name+'</span>'+
                    '<span class="msg-text-head">'+msg.date+'</span></p>'+
                    msg_content_div+'</div>';
            }else{
                msg_div = '<div class="timeline-stat"><div class="timeline-icon">'+
                    '<i class="glyphicon glyphicon-user"></i></div></div><div>' +
                    '<p><span class="msg-text-head">'+msg.from_name+'</span>'+
                    '<span class="msg-text-head">'+msg.date+'</span></p>'+
                    '<p class="msg-text">'+msg.msg+'</p></div>';
            }


            if(msg.contact_type == 'single'){
                var old_session_content = dialog_handle(msg.from_id,msg.contact_type,'load');
                var new_session_content = old_session_content + msg_div;
                dialog_handle(msg.from_id,msg.contact_type,'refresh',new_session_content)
            }else if(msg.contact_type == 'group'){
                var old_session_content = dialog_handle(msg.group_id,msg.contact_type,'load');
                var new_session_content = old_session_content + msg_div;
                dialog_handle(msg.group_id,msg.contact_type,'refresh',new_session_content)
            }else if(msg.contact_type == 'friend_request'){
                var old_session_content = dialog_handle(msg.from_id,msg.contact_type,'load');
                var new_session_content = old_session_content + msg_div;
                dialog_handle(msg.from_id,msg.contact_type,'refresh',new_session_content)
            }


        }


    });
}

/*在消息窗中显示自己发送的消息*/
function add_msg_into_box(msg){
    var msg_div = '<div class="timeline-stat pull-right"><div class="timeline-icon">'+
                    '<i class="glyphicon glyphicon-user"></i>'+
                    '</div></div><div align="right" class="msg_box_right">' +
                    '<p><span class="msg-text-head">{{ request.user.userprofile.name }}</span>'+
                    '<span class="msg-text-head">'+new Date().toLocaleTimeString()+'</span></p>'+
                    '<p class="msg-text-right">'+msg+'</p></div>'

    $('#dialog-content-box').append(msg_div);
    $('#dialog-content-box').animate({
        scrollTop: $('#dialog-content-box')[0].scrollHeight},500);
}

/*发送消息到后台*/
function send_msg(msg){
    var msg_dic = {
        'from_id': '{{ request.user.userprofile.id }}',
        'to_id': $('#dialog-header-msg span').attr('contact_id'),/*如果是群聊，这里就是群id*/
        'from_name':'{{ request.user.userprofile.name }}',
        'contact_type': $('#dialog-header-msg span').attr('contact_type'),
        'msg': msg,
        'group_id':$('#dialog-header-msg span').attr('contact_id'),
        'group_name':$('#dialog-header-msg span').attr('contact_name'),
    }

    $.post('{% url "chat_send_msg" %}',{'data':JSON.stringify(msg_dic),'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val()},function(callback){
       console.log(callback)
    });
}

/*发送好友请求*/
function send_friend_request(ele){
    var msg_dic = {
        'from_id': '{{ request.user.userprofile.id }}',
        'to_id': $(ele).parent().attr('contact_id'),
        'from_name':'{{ request.user.userprofile.name }}',
        'contact_type': 'friend_request',
        'msg': '',
        'group_id':0,
        'group_name':'',
    }
    alert('好友申请已发送，请耐心等待！')
    $.post('{% url "chat_send_msg" %}',{'data':JSON.stringify(msg_dic),'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val()},function(callback){
        console.log(callback);
        if(callback=='ok') {

        }
    });
}
/*通过好友请求*/
function accept_friend_request(){
    var msg_dic = {
        'from_id': '{{ request.user.userprofile.id }}',
        'to_id': $('#dialog-header-msg span[contact_type="friend_request"]').attr('contact_id'),
        'from_name':'{{ request.user.userprofile.name }}',
        'contact_type': 'friend_accept',
        'msg': '',
        'group_id':0,
        'group_name':'',
    }

    $.post('{% url "chat_send_msg" %}',{'data':JSON.stringify(msg_dic),'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val()},function(callback){
        console.log(callback);
        if(callback=='ok') {
            alert('好友添加成功！')
        }
    });
}

/*切换聊天窗*/
function switch_chatbox(ele) {
    var current_dialog_uid = $(ele).attr('contact_id'),
        current_dialog_type = $(ele).attr('contact_type'),
        current_dialog_title = $(ele).attr('contact_name');
    var old_session_uid = $('#dialog-header-msg span').attr('contact_id'),
        old_session_type = $('#dialog-header-msg span').attr('contact_type');

    /*在最近对话中添加条目*/
    if($(ele).parent().attr('id') != 'recent_contact_list'){
        add_recent_item(current_dialog_uid,current_dialog_title,current_dialog_type,current_dialog_uid,current_dialog_title)
        if(current_dialog_type == 'single'){
            $('#dialog-header-msg .glyphicon').removeClass('glyphicon-comment').addClass('glyphicon-user');
        }else if(current_dialog_type == 'group'){
            $('#dialog-header-msg .glyphicon').removeClass('glyphicon-user').addClass('glyphicon-comment');
        }
    }


    dialog_handle(old_session_uid,old_session_type,'dump');
    $('#dialog-content-box').html(dialog_handle(current_dialog_uid,current_dialog_type,'load'));
    $('#dialog-header-msg span').attr('contact_id',current_dialog_uid).attr('contact_type',current_dialog_type).attr('contact_name',current_dialog_title).html(current_dialog_title)

}

/*只是数据的存和取，不混入界面操作*/
function dialog_handle(contact_id,contact_type,action,data){
    if(action == 'dump'){/*把当前会话保存到消息session*/
        var current_dialog_content = $('#dialog-content-box').html();
        all_dialog_sessions[contact_type][contact_id] = current_dialog_content;
    }else if(action == 'load'){/*获取消息session*/
        var new_dialog_content = '';
        if(contact_id in all_dialog_sessions[contact_type]){
            new_dialog_content = all_dialog_sessions[contact_type][contact_id];
        }
        return new_dialog_content;
    }else if(action == 'refresh'){/*直接更新消息session*/
        all_dialog_sessions[contact_type][contact_id] = data
    }
}

function blink(elem, times, speed) {
    if (times > 0 || times < 0) {
        if ($(elem).hasClass("blink"))
            $(elem).removeClass("blink");
        else
            $(elem).addClass("blink");
    }

    clearTimeout(function () {
        blink(elem, times, speed);
    });

    if (times > 0 || times < 0) {
        setTimeout(function () {
            blink(elem, times, speed);
        }, speed);
        times -= .5;
    }
}
</script>
{% endblock %}